.bold-icon {
  display: inline-block;
  object-fit: contain;

  &--sm {
    height: 18px;
    width: auto;
  }
  &--md {
    height: 24px;
    width: auto;
  }
  &--lg {
    height: 36px;
    width: auto;
  }
}