@use './../../foundations/colors.scss' as *;

.bold-filter-box {
    padding-left: 30px;
    display: block;
    width: fit-content;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.bold-filter-box__no-filters { 
    padding: 10px 15px;
    color: $font-color-gray;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.bold-filter-box__filters {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    flex-wrap: wrap;
    z-index: 2;
    right: 40px;
    gap: 5px;
    text-align: center;
    > .bold-filter-box__filter {
        display: flex;
        gap: 5px;
    }
    > bold-button {
        margin-top: 10px;
    }
    > bold-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}

@media (max-width: 600px){
    .bold-filter-box__filters {
        right: 25px;
    }
}