@use './../shared/design-system/foundations/colors.scss' as *;

.transactions-dashboard-header {
    padding: 20px 30px;
    display: flex;
    &__image {
        height: 55px;
    }
    &__nav {
        margin-left: auto;
        align-items: center;
        display: inherit;
    }
    &__list{
        display: flex;
        flex-grow: 1;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        margin-right: 80px;
    }
}
.transactions-dashboard-table {
    margin: 40px;
    margin-top: 0;
}

.transactions-dashboard-table__header {
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}
.transactions-dashboard-filters {
    display: flex;
    padding: 40px;
    > bold-amount-card {
        flex-grow: 1;
        max-width: 400px;
    }
    > .transactions-dashboard-filters__controls {
        flex-grow: 2;
        display: flex;
        gap: 20px;
        flex-direction: column;
        > bold-filter-box {
            margin-left: auto;
        }
    }
    gap: 20px;
}

@media (max-width: 810px) {
  
    .transactions-dashboard-filters {
        flex-direction: column;
        > .transactions-dashboard-filters__controls {
            flex-grow: unset;
        }
        > bold-amount-card {
            max-width: unset;
        }
    }

    .transactions-dashboard-header__list {
        margin-right: unset;
    }

    .transactions-dashboard-header__image {
        height: 50px;
    }
}


@media (max-width: 600px){
    .transactions-dashboard-filters {
        padding-left: 25px;
        padding-right: 25px;
    }
    .transactions-dashboard-table {
        margin-left: 25px;
        margin-right: 25px;
    }

    .transactions-dashboard-header__image {
        height: 40px;
    }
}


.transactions-dashboard-table__controls {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bold-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
    .transactions-dashboard-table__search{
        border: none;
        border-radius: 5px;
        padding: 12px 12px;
        padding-left: 38px;
        font-size: 14px;
        width: 100%;
    }
}

.transactions-dashboard-table__table__wrapper{
   width: 100%;
   overflow-x: auto; /* Habilita scroll horizontal */
}

.transactions-dashboard-table__table {
    width: 100% ;
    border-collapse: collapse;
    background-color: #fff;

    tr {
        cursor: pointer;
    }

    th, td {
        padding: 12px 15px;
        vertical-align: middle; /* ensure cells align to row height */
        border: 1px solid #eee;
    }
    th {
        text-align: left;
    }

    .transactions-dashboard-table__table__method {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .transactions-dashboard-table__table__transaction {
        display: flex;
        bold-icon {
            margin-right: 10px;
        }
    }
}

.transactions-dashboard__side-panel {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 5px;

    > .transactions-dashboard__side-panel__info {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        > div {
            display: flex;
            gap: 40px;
            justify-content: space-between;
            align-items: center;
            > div {
                display: inherit;
                align-items: center;
                gap: 10px;
            }
        }

        .transactions-dashboard__side-panel__info__divider { 
            display: flex;
            height: 1.5px;
            background-color: $blue;
            margin-top: 4px;
        }
    }
    
}